<a href="https://colab.research.google.com/github/HariBalajeek/AI-Using-Google-AI-Studio/blob/master/loan_approval_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving loan_approval_dataset.csv to loan_approval_dataset.csv

In [ ]:
import numpy as np
import pandas as pd

# Load dataset
df = pd.read_csv("loan_approval_dataset.csv")

# Basic info
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
df.shape
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

In [ ]:
# “The loan approval problem is framed as a supervised binary classification task,
#  where the target variable is loan_status.”

In [ ]:
X = df.drop("loan_status", axis=1)
y = df["loan_status"]
# in this
# y is what we want to predict
# x is the data after we remove the target variable to avoid data leakage

In [ ]:
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

# It helps you with everything around ML models, like:
# 📦 Data preprocessing
# ✂️ Splitting data (train / test / validation)
# 🤖 ML algorithms (Regression, Classification, Clustering)
# 📊 Model evaluation (accuracy, precision, recall, etc.)
# sklearn is the short name for scikit-learn.
# It’s one of the most popular Python libraries for Machine Learning.

X = df.drop("loan_status", axis=1)
y = df["loan_status"]


# What train_test_split(X, y, ...) does
# This splits both X and y together so that:
# Each row in X still matches the correct label in y
# No mismatch happens
# Internally:
# (X, y)  →  shuffle together  →  split


X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)
# X_train  → input data for training
# X_test   → input data for testing
# y_train  → correct answers for training
# y_test   → correct answers for testing

# Full Dataset
# │
# ├── X_train + y_train → model learns
# │
# └── X_test  + y_test  → model is evaluated


# Why is this IMPORTANT?
# Imagine a classification dataset:
# Class	Total
# Pass	90%
# Fail	10%
# ❌ Without stratify:
# Test set might get mostly Pass
# Model looks good but learns nothing
# ✅ With stratify=y:
# Train & test both have 90/10 split
# Fair evaluation
# Student-friendly line:
# stratify=y makes sure all classes are fairly represented in train and test data.

In [ ]:
X_train.shape

# Meaning:
# 3415 rows used for training
# 854 rows used for testing
# 12 features (columns) in both
# 3415 + 854 = 4269  (total rows)
# 854 / 4269 ≈ 0.20  → 20% test data ✅

(3415, 12)

In [ ]:
X_test.shape

(854, 12)

In [ ]:
y_train.value_counts(normalize=True)

# stratify=y worked ✅

loan_status
Approved    0.622255
Rejected    0.377745
Name: proportion, dtype: float64

In [ ]:



y_test.value_counts(normalize=True)

loan_status
Approved    0.62178
Rejected    0.37822
Name: proportion, dtype: float64

In [ ]:
# What you have already completed (in correct order)
# 1️⃣ Problem / model framing
# Goal identified: loan approval (classification)
# 2️⃣ Target identified
# y = loan_status
# 3️⃣ Feature–target split
# X = all other columns
# 4️⃣ Missing values check
# df.isnull().sum() → all zeros
# 👉 No action needed (correct decision)
# 5️⃣ Train–test split
# 80% train / 20% test
# random_state for reproducibility
# stratify=y for class balance
# 6️⃣ Verified the split
# X_train.shape, X_test.shape ✅
# y_train.value_counts(normalize=True) ✅
# y_test.value_counts(normalize=True) ✅
# 7️⃣ Identified column types
# Categorical columns ✅
# Numerical columns ✅
# This is a clean, textbook ML pipeline so far 👏

In [ ]:
# Identify Feature Types (CRITICAL FOR PREP)
# Before encoding or scaling, we must classify features correctly.
# ❗ Important rule
# Do NOT encode or scale blindly.
# We first decide:
# Which are numeric
# Which are categorical (even if numeric-looking)

In [ ]:
X_train.dtypes

loan_id                      int64
no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
dtype: object

In [ ]:
X_train = X_train.drop("loan_id", axis=1)
X_test  = X_test.drop("loan_id", axis=1)
# loan_id (int64)
# This is just an identifier
# Has no predictive meaning
# If you keep it, the model may learn noise

In [ ]:
# One-Hot Encode categorical features
from sklearn.preprocessing import OneHotEncoder

categorical_cols = ["education", "self_employed"]

ohe = OneHotEncoder(drop="first", sparse_output=False)

X_train_cat = ohe.fit_transform(X_train[categorical_cols])
X_test_cat  = ohe.transform(X_test[categorical_cols])

# drop="first"
# Removes redundant columns to avoid multicollinearity (dummy variable trap).
# sparse=False
# Returns a regular NumPy array instead of a sparse matrix for easier handling.
# sparse=False tells scikit-learn to give the encoded data as a normal table of numbers instead of a compressed format.

In [ ]:
print(X_train_cat.shape)
print(X_test_cat.shape)

(3415, 2)
(854, 2)

In [ ]:
import numpy as np
np.unique(X_train_cat)

array([0., 1.])

In [ ]:
ohe.get_feature_names_out(categorical_cols)

array(['education_ Not Graduate', 'self_employed_ Yes'], dtype=object)

In [ ]:
import pandas as pd

X_train_cat_df = pd.DataFrame(
    X_train_cat,
    columns=ohe.get_feature_names_out(categorical_cols),
    index=X_train.index
)

X_train_cat_df.head()

      education_ Not Graduate  self_employed_ Yes
1224                      0.0                 1.0
478                       1.0                 1.0
3065                      1.0                 0.0
326                       1.0                 1.0
2991                      1.0                 0.0

In [ ]:
ohe.categories_

[array([' Graduate', ' Not Graduate'], dtype=object),
 array([' No', ' Yes'], dtype=object)]

In [ ]:
# Scale numeric features

from sklearn.preprocessing import StandardScaler

numeric_cols = X_train.drop(columns=categorical_cols).columns

scaler = StandardScaler()

X_train_num = scaler.fit_transform(X_train[numeric_cols])
X_test_num  = scaler.transform(X_test[numeric_cols])

In [ ]:
import pandas as pd

X_train_num_df = pd.DataFrame(
    X_train_num,
    columns=numeric_cols,
    index=X_train.index
)

X_train_num_df.head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
1224,-1.456965,1.700955,0.983585,0.549181,-0.806352,-0.995573,1.942808,0.659076,0.696034
478,0.305326,-0.514765,-0.717129,-0.500709,1.110842,-0.312884,0.216625,-0.582560,0.078226
3065,-0.282104,-1.086564,-1.228455,0.549181,-0.557291,-0.390463,-0.796070,-1.066029,-1.126500
326,-0.282104,-0.407553,-0.417003,0.199218,-0.476201,-0.669744,-1.141306,-0.516632,-0.107117
2991,0.305326,-0.979352,-0.728245,0.199218,-0.238724,-0.592166,-0.819085,-0.978125,-1.126500

In [ ]:
X_train_num_df.mean()

no_of_dependents            1.430448e-16
income_annum               -8.530674e-17
loan_amount                 8.530674e-17
loan_term                  -1.924603e-16
cibil_score                -2.642428e-16
residential_assets_value    4.369370e-17
commercial_assets_value    -1.248391e-17
luxury_assets_value        -1.040326e-16
bank_asset_value            1.316013e-16
dtype: float64

In [ ]:
X_train_num_df.std()

no_of_dependents            1.000146
income_annum                1.000146
loan_amount                 1.000146
loan_term                   1.000146
cibil_score                 1.000146
residential_assets_value    1.000146
commercial_assets_value     1.000146
luxury_assets_value         1.000146
bank_asset_value            1.000146
dtype: float64

In [ ]:
X_train_num_df.min(), X_train_num_df.max()

(no_of_dependents           -1.456965
 income_annum               -1.729838
 loan_amount                -1.639738
 loan_term                  -1.550599
 cibil_score                -1.727300
 residential_assets_value   -1.166245
 commercial_assets_value    -1.141306
 luxury_assets_value        -1.626413
 bank_asset_value           -1.528075
 dtype: float64,
 no_of_dependents            1.480187
 income_annum                1.736692
 loan_amount                 2.717647
 loan_term                   1.599072
 cibil_score                 1.747975
 residential_assets_value    3.302260
 commercial_assets_value     3.323755
 luxury_assets_value         2.647892
 bank_asset_value            3.012814
 dtype: float64)

In [ ]:
# Why do we need StandardScaler at all?
# Because numeric features live on very different scales.
# Example from your dataset:
# Feature	Typical values
# income_annum	100,000 – 1,000,000
# loan_amount	50,000 – 500,000
# cibil_score	300 – 900
# What does “mean = 0” actually mean?
# It means:
# Values are centered around zero.
# Before scaling:
# income_annum → mostly large positive numbers
# After scaling:
# some values → negative
# some values → positive
# average → 0
# This helps models:
# Learn faster
# Converge better
# Stay numerically stable

# What does “std = 1” actually mean?
# It means:
# The spread of values is normalized.
# A value of +1 → 1 standard deviation above mean
# A value of -1 → 1 standard deviation below mean
# So:
# All features now vary on a similar scale
# No feature “shouts louder” than others.

In [ ]:
import numpy as np

X_train_final = np.hstack([X_train_num, X_train_cat])
X_test_final  = np.hstack([X_test_num, X_test_cat])

X_train_final.shape
X_test_final.shape

# before
# X_train_num → shape (3415, 10)
# X_train_cat → shape (3415, 2)

# after
# X_train_final → shape (3415, 12)

# Feature concatenation
# (or more specifically: horizontal feature concatenation)

(854, 11)

In [ ]:
# final - Train Logistic Regression
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000)
model.fit(X_train_final, y_train)

LogisticRegression(max_iter=1000)

In [ ]:
# Evaluate accuracy
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test_final)
accuracy = accuracy_score(y_test, y_pred)

accuracy

# y_pred = model.predict(X_test_final)
# What this does:
# Takes X_test_final (unseen test data)
# Uses the trained model
# Predicts the output for each row
# So y_pred contains:
# [1, 0, 1, 1, 0, ...]
# These are the model’s guesses:
# 1 → Approved
# 0 → Rejected
# Important:
# The model has never seen y_test during training.

# accuracy = accuracy_score(y_test, y_pred)
# What accuracy means:
# Accuracy checks:
# How many predictions are correct?
# Formula:
# Accuracy
# =
# Number of correct predictions
# Total predictions
# Accuracy=
# Total predictions
# Number of correct predictions
# ​

# What this line does internally:
# Compares y_pred (model’s predictions)
# With y_test (true answers)
# Counts how many match
# Example:
# y_test = [1, 0, 1, 0, 1]
# y_pred = [1, 0, 0, 0, 1]
# Correct predictions = 4
# Total = 5
# Accuracy = 4 / 5 = 0.8

0.9227166276346604

In [ ]:
# 1 Why Logistic Regression?
# Because your problem is:
# Classification
# Output = Approved / Rejected (0 / 1)
# Logistic Regression:
# Predicts probability
# Converts it into class (0 or 1)
# Works very well as a baseline model
# It’s simple, fast, and interpretable

# 2️⃣ max_iter=1000 — why?
# Logistic Regression learns using iterations (optimization).
# Sometimes:
# Default iterations are not enough
# Model fails to converge
# So we increase:
# max_iter = 1000
# This just means:
# “Try harder until the model converges.”
# 3️⃣ What does model.fit(...) do?
# model.fit(X_train_final, y_train)
# This is the learning step.
# Internally, the model:
# Looks at input features (X_train_final)
# Compares predictions with actual answers (y_train)
# Adjusts weights to reduce error
# 📌 This is where the model learns patterns.

In [ ]:
# Data → Preprocess → Train → Predict → Evaluate

In [ ]:
# Great question to **wrap it all up** 👍
# Here’s a **clean, end-to-end recap** of **everything you covered in this project**, in the **exact logical order** — from start to finish.

# ---

# ## 🧠 1️⃣ Problem / Model Framing

# * Defined the goal: **predict loan approval**
# * Identified it as a **classification problem**
# * Selected the target variable:

#   ```text
#   loan_status
#   ```

# ---

# ## 📥 2️⃣ Data Loading & Initial Inspection

# * Loaded dataset using pandas
# * Viewed sample rows (`head`)
# * Checked column names (fixed spacing issue)

# ---

# ## 🧹 3️⃣ Data Quality Check

# * Checked missing values:

#   ```python
#   df.isnull().sum()
#   ```
# * Found **no missing values**
# * Correctly decided **no imputation needed**

# ---

# ## 🎯 4️⃣ Feature–Target Separation

# * Separated:

#   * **X** → input features
#   * **y** → target output
# * Removed target from features to avoid **data leakage**

# ---

# ## ✂️ 5️⃣ Train–Test Split

# * Split data into:

#   * 80% training
#   * 20% testing
# * Used:

#   * `random_state` → reproducibility
#   * `stratify=y` → class balance
# * Verified:

#   * Shapes
#   * Class distribution in train & test

# ---

# ## 🏷️ 6️⃣ Feature Type Identification

# * Used `X_train.dtypes`
# * Identified:

#   * **Categorical features**
#   * **Numerical features**
# * Planned preprocessing accordingly

# ---

# ## 🗑️ 7️⃣ Dropped Irrelevant Columns

# * Removed `loan_id`
# * Avoided meaningless learning

# ---

# ## 🔤 8️⃣ Categorical Feature Encoding

# * Applied **One-Hot Encoding**
# * Used:

#   * `drop="first"` → avoid dummy variable trap
# * Fit encoder only on training data
# * Transformed test data using same encoder
# * Avoided leakage

# ---

# ## 📏 9️⃣ Numerical Feature Scaling

# * Used **StandardScaler**
# * Standardized numeric features:

#   * mean = 0
#   * std = 1
# * Fit scaler on training data only
# * Applied same scaling to test data

# ---

# ## 🔗 🔟 Feature Combination

# * Combined:

#   * Scaled numeric features
#   * Encoded categorical features
# * Created:

#   ```text
#   X_train_final
#   X_test_final
#   ```
# * Model-ready input matrix

# ---

# ## 🤖 1️⃣1️⃣ Model Training

# * Trained **Logistic Regression**
# * Used training data only
# * Learned patterns from features → target

# ---

# ## 📊 1️⃣2️⃣ Model Evaluation

# * Predicted on **unseen test data**
# * Calculated **accuracy**
# * Interpreted results correctly
# * Understood accuracy limitations

# ---

# ## ✅ Final Outcome

# You completed a **full end-to-end ML classification project**, covering:

# ✔ Correct ML pipeline
# ✔ No data leakage
# ✔ Proper preprocessing
# ✔ Train–test discipline
# ✔ Model training & evaluation

# ---

# ## 🧠 Big-Picture Summary (one line)

# > We framed the problem, prepared the data, trained a classification model, and evaluated its performance on unseen data using a clean and leakage-free machine learning pipeline.

# This is **not beginner-level anymore** — this is **solid applied ML understanding** 👏
# Whenever you want, next we can:

# * add confusion matrix / precision-recall
# * compare with Decision Tree / Random Forest
# * or package this as a **project explanation for interviews**